.exp-container{
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    gap: 7rem;
}

.left{
    display: flex;
    margin: 0 auto;
}


 
.job__title h5{
    color: #2B3FC2;
    margin-top: 2rem;
}
.job__title .date{
    background: #1EB859;
    color: white;
    padding: 6px;
}

#exp__title{
    color: #A83800;

}
#exp__subtitle{
    color: #A83800;
}

  

#metric{
    display: flex;
    cursor: default;
    color:  #A83800;
    margin-bottom: 4.5rem;
}

.job_info{
    border: 1px solid #A83800;
    color: #9E5337;
    padding: 40px;
    display: list-item;


}
.hour {
    background: #A83800;
    color: #C5EAF2;
    width: 9.5em;
    align-items: center;
    padding-left: 1.8rem;
    font-size: 50px;
}



.slider {
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: 11%;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
  
  
}


.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*90deg))  translateZ(200px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid;
    border-color: #9E5337;
    object-fit: cover;
    transition: 2s;


}

.slider span:hover img{
    transform: translateY(-50px)  scale(1.2);
    transition-duration: 0.4s;

   
    
}
.slider:hover{
    animation-play-state: paused;
}

.odo {
    padding-left: 2.5rem;
    padding-right: 1.2rem;
    font-size: 120px;
    color: #A83800;

}




@media screen and (max-width: 1025px) {
    .odo.row{
        margin-left: 11%;
        margin-top: 5rem;
    }
    #metric .hour{
        width: 30rem;
        margin-left: 12%;
    }
   
    .exp-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

    }
   
   
}

@media screen and (max-width: 700px) {
    .odo.row {
        margin-left: 2%;
        font-size: 50px;
    }
    #metric .hour{
        font-size: 29px;
        width: 18rem;
        margin-left: 1%;
        padding-left: 1.4rem;
    }
    .slider {
        position: relative;
        width: 300px;
        height: 300px;
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        animation: none !important;

        
    }
    

    .slider span {
        position: unset;
        transform: none;
    }
    .slider span img{
        opacity: 0.5;
    }
    .slider span:hover img {
        opacity: 1;
        transform: none;
    }

    



}







@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}



